/* Styles for the album cover image */
.album-cover {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	margin-top: 20px;
}
.song-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* Styles for the audio player */
.song-modal audio {
	width: 100%;
	margin-top: 20px;
}

.song-modal img {
	width: 300px;
	height: 300px;
}

/* Styles for the modal buttons */
.modal-buttons {
	position: absolute;
	top: 25rem;
	left: 1rem;
}
.modal-buttons button {
	margin: 10px;
	font-size: 1.2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #4caf4f48;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}

.modal-buttons button:hover {
	background-color: #286b18;
}

/* Styles for the previous and next buttons */
.modal-buttons button:first-child {
	background-color: #f4433658;
}

.modal-buttons button:first-child:hover {
	background-color: #b53434;
}

.songDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
